---
const data = [
  {
    name: "ESP32",
    description:
      "El ESP32 es un microcontrolador de bajo costo y alto rendimiento que ha ganado una gran popularidad en la comunidad de desarrollo de hardware y la Internet de las cosas (IoT). Fabricado por Espressif Systems, el ESP32 ofrece una amplia gama de características y funcionalidades que lo hacen ideal para una variedad de aplicaciones, desde proyectos domésticos hasta aplicaciones industriales. Una de las características más destacadas del ESP32 es su potente procesador de doble núcleo, que permite ejecutar múltiples tareas simultáneamente con facilidad. Esto lo convierte en una excelente opción para proyectos que requieren procesamiento intensivo, como la transmisión de datos en tiempo real, el procesamiento de señales y la computación en la nube. Además de su potente procesador, el ESP32 viene equipado con una variedad de periféricos y opciones de conectividad, incluyendo Wi-Fi y Bluetooth integrados. Esto hace que sea fácil conectar el ESP32 a redes inalámbricas y dispositivos externos, lo que lo convierte en una opción popular para aplicaciones IoT que requieren comunicación inalámbrica.",
    image:
      "https://lh4.googleusercontent.com/proxy/Mp48lRbRSbzNBu3pqnJ6T6OmLcxK95bG0b3_RLTTJ8RbwP-SVKPXpDzb_A1JUXM0BfPEXPZ1X10fqEaoaw3TsfmxG4ckUJm2HbX3Mz52Me58sXBjkfxc",
  },
  {
    name: "Hc-sr04",
    description:
      "El sensor HC-SR04 es un popular y económico dispositivo de ultrasonido utilizado para medir distancias en una variedad de aplicaciones. Este sensor consta de un transmisor ultrasónico y un receptor, que trabajan en conjunto para enviar y recibir pulsos de ultrasonido respectivamente. La operación del HC-SR04 es relativamente simple: el transmisor emite un pulso ultrasónico de corta duración, que se propaga en el aire hasta encontrar un objeto. El pulso reflejado por el objeto es captado por el receptor. Midiendo el tiempo que tarda en viajar ida y vuelta el pulso ultrasónico, el sensor puede calcular la distancia entre el sensor y el objeto.",
    image:
      "https://intesc.mx/wp-content/uploads/2021/06/1-Libreria-sensor-ultrasonico-HC-SR04.jpg",
  },
  {
    name: "SHT-30",
    description:
      "El SHT-30 es un sensor de temperatura y humedad de alta precisión fabricado por Sensirion. Es un dispositivo compacto y versátil que proporciona mediciones precisas y confiables de la temperatura y la humedad relativa del aire. Este sensor utiliza tecnología CMOSens® de Sensirion, que combina un sensor de humedad y un termistor de platino para lograr mediciones precisas y estables en una amplia gama de condiciones ambientales. El SHT-30 es conocido por su alta precisión y estabilidad a largo plazo, así como por su bajo consumo de energía y su respuesta rápida. Esto lo hace adecuado para una variedad de aplicaciones, incluyendo sistemas de control ambiental, dispositivos portátiles, equipos meteorológicos, y sistemas de monitoreo y control de procesos industriales.",
    image: "https://nettigo.eu/system/images/3737/original.jpg?1598438281",
  },
  {
    name: "Termistor",
    description:
      "El termistor 203 de 20k es un tipo específico de termistor utilizado para medir la temperatura en una amplia variedad de aplicaciones. Como su nombre indica, tiene una resistencia nominal de 20 kilo-ohmios a una temperatura de referencia específica, generalmente 25°C.Este termistor pertenece a la categoría de termistores de coeficiente de temperatura negativo (NTC, por sus siglas en inglés), lo que significa que su resistencia disminuye a medida que aumenta la temperatura. Esta característica permite que el termistor 203 de 20k sea utilizado como un sensor de temperatura sensible y preciso.El termistor 203 de 20k es adecuado para aplicaciones que requieren mediciones de temperatura en un rango amplio, pero su respuesta es particularmente precisa en un rango más estrecho alrededor de la temperatura de referencia. Se utiliza en una variedad de campos, como sistemas de climatización, sistemas de refrigeración y calefacción, dispositivos médicos, electrónica de consumo y automotriz, entre otros.",
    image:
      "https://www.hwlibre.com/wp-content/uploads/2020/01/termistor-ntc.jpg",
  },
];
---

<section class="w-full">
  <h3 id="components">Componentes</h3>
  <section class="flex flex-col gap-y-8 gap-x-2 w-full">
    {
      data.map((dato) => (
        <article class="flex gap-y-2 flex-col flex-1 gap-x-2 w-full">
          <h1 class="font-bold text-xl border-b-2 uppercase mb-4">
            {dato.name}
          </h1>
          <div class="w-12/12 flex justify-center transition duration-500 ease-in-out transform scale-80">
            <img class="w-1/2 h-2/2 rounded-md" src={dato.image} alt="" />
          </div>
          <div class="w-full">
            <p class="text-md">{dato.description}</p>
          </div>
        </article>
      ))
    }
  </section>
</section>
<style>
  h3 {
    font-size: 33px;
    font-weight: 500px;
    line-height: 40px;
    padding-bottom: 13px;
    padding-top: 40px;
  }
</style>
