---
import { ComponentsData } from "../../info/Componentes";
---

<section class="w-full">
  <h3 id="components">Componentes</h3>
  <section class="flex flex-col gap-y-8 gap-x-2 w-full">
    {
      ComponentsData.map((dato) => (
        <article class="flex gap-y-2 flex-col flex-1 gap-x-2 w-full">
          <h1 class="font-bold text-xl border-b-2 uppercase mb-4">
            {dato.name}
          </h1>
          <div class="w-12/12 flex justify-center transition duration-500 ease-in-out transform scale-80">
            <img class="w-1/2 h-2/2 rounded-md" src={dato.image} alt="" />
          </div>
          <div class="w-full">
            <p class="text-md">{dato.description}</p>
          </div>
        </article>
      ))
    }
  </section>
</section>
<style>
  h3 {
    font-size: 33px;
    font-weight: 500px;
    line-height: 40px;
    padding-bottom: 13px;
    padding-top: 40px;
  }
</style>
