<section>
  <h3 class="text-red" id="description">Implementación de sensores</h3>
  <p>
    <ul class="gap-y-4 flex flex-col text-base">
      <li>
        Este proyecto fue realizado como laboratorio #6 en la clase de Sistemas
        Digitales Programables en la carrera de Mecatrónica Industrial. El
        propósito principal de esta practica fue afianzar el conocimiento acerca
        de la implementación de sensores en el ámbito industrial.
      </li>
      <li>
        Este proyecto consiste en la implementación de tres sensores para la
        medida de Temperatura, Humedad y Distancia. En este caso se utilizaron
        SHT-30 (Humedad) , HC-SR04 (Distancia), Tersmistor (Temperatura)
      </li>
      <li>
        En esta documentación encontraras una breve recopilación de resultados
        obtenidos, ademas del código implementado Arduino y Processing para la
        medida correcta de los sensores SHT-30 (Humedad)💧, HC-SR04
        (Distancia)📏, Termistor (NTC 203)🌡️
      </li>
      <li>
        El control del sistema se implementa bajo la creación de una pequeña
        pagina web por medio de Arduino y una placa ESP32, esta pagina es creada
        basada en la IP de la red a la cual se conecta la placa, la cual puede
        ser previamente configurada, por medio de la cual podremos acceder a la
        red y poder controlar el funcionamiento de nuestra aplicación.
      </li>
      <li>
        También cuenta con una interfaz en Processing, donde se mostraran las
        medidas de una manera mas gráfica, contando con barras e indicadores que
        permitirán una mejor visualización y entendimiento de medidas en tiempo
        real.
      </li>
      <li>
        <h1 class="font-bold text-xl">⚠️ Importancia:</h1>
        <p>
          Los sensores presentan un papel fundamental en la industria debido a
          su capacidad para recopilar datos precisos y en tiempo real con
          respecto a un proceso. Su importancia radica en que permiten optimizar
          sistemas, monitoreo, implementar estrategias de mantenimiento
          preventivo, mejorar calidad del proceso, etc.
        </p>
      </li>
    </ul>
  </p>
</section>

<style>
  h3 {
    font-size: 33px;
    font-weight: 500px;
    line-height: 40px;
    padding-bottom: 13px;
    padding-top: 40px;
  }
</style>
