---
import Layout from "../../../layouts/Layout.astro";
import Footer from "../../../components/dashboard/Footer.astro";
import Navigation from "../../../components/mechatronics/Navigation.astro";
import Components from "../../../components/mechatronics/Components.astro";
import Description from "../../../components/mechatronics/Description.astro";
import Installation from "../../../components/mechatronics/Installation.astro";
import Structure from "../../../components/mechatronics/Structure.astro";
import References from "../../../components/mechatronics/References.astro";
---

<Layout title="Documentación">
  <section
    class="dark:bg-black bg-white px-2 lg:px-0 min-h-screen text-black dark:text-gray-200"
  >
    <div class="py-16 w-full mx-auto container lg:max-w-4xl md:max-w-3xl">
      <Navigation />
      <article
        class="flex flex-col gap-y-8 absolute w-full lg:w-6/12 box-content lg:right-60 py-4"
      >
        <Description />
        <Components />
        <Installation/>
        <Structure/>
       
        <section>
          <h3 id="problems">Problemas</h3>
          Problemas con las medidas del termistor: En algunos casos se soluciona
          cambiando de pin. La resistencia utilizada debe ser igual a la del termistor
          Problemas con las medidas del HC-SR04 En algunos casos se presentan poblemas
          en el voltaje, en caso de tener todas las conexiones a 3.3v probar con
          5v para el HC-SR04
        </section>
        <References/>
        <footer class="z-10 bottom-0 w-full flex items-center">
          <Footer />
        </footer>
      </article>
    </div>

  </section>
</Layout>

<style>
  h3 {
    font-size: 33px;
    font-weight: 500px;
    line-height: 40px;
    padding-bottom: 13px;
    padding-top: 40px;
  }
</style>
