---
import Layout from "../layouts/Layout.astro";
import AboutMe from "../components/AboutMe.astro";
import Github from "../components/Github.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Skills from "../components/Skills.astro";
import TitleContainer from "../components/TitleContainer.astro";
import Presentation from "../components/icons/Presentation.astro";
import Shield from '../components/icons/Shield.astro'
import Dna from '../components/icons/Dna.astro'
import Footer from "../components/Footer.astro";
---

<Layout title="Portfolio de Deyverson - Desarrollador y Programador Web">
	<main>
		<section
			class="section pt-16 pb-10 md:pt-36 md:pb-20 light: w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
		>
			<Hero />
		</section>
		<SectionContainer id="projects">
			<TitleContainer>
				<Presentation class="size-7 pb-0.5"/>
				Proyectos
			</TitleContainer>
			<Projects />
		</SectionContainer>
		<SectionContainer>
			<TitleContainer>
			<Dna class="size-7 pb-0.5"/>
				Habilidades
			</TitleContainer>
			<Skills />
		</SectionContainer>
		
		<SectionContainer id="sobre-mi">
			<TitleContainer>
				<Shield class="size-7 pb-0.5"/>
				Sobre mí
			</TitleContainer>
			<AboutMe/>
		</SectionContainer>
		<Github/>
	</main>
	<Footer/>
</Layout>
