---
import Layout from "../layouts/Layout.astro";
import AboutMe from "../components/dashboard/AboutMe.astro";
import Github from "../components/Github.astro";
import Hero from "../components/dashboard/Hero.astro";
import Projects from "../components/dashboard/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Skills from "../components/dashboard/Skills.astro";
import TitleContainer from "../components/TitleContainer.astro";
import Presentation from "../components/icons/Presentation.astro";
import Shield from '../components/icons/Shield.astro'
import Dna from '../components/icons/Dna.astro'
import Footer from "../components/dashboard/Footer.astro";
---

<Layout title="Portfolio de Deyverson - Desarrollador Web">
	<main>
		<section
			class="section pt-16 pb-10 md:pt-36 md:pb-20 light: w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
		>
			<Hero />
		</section>
		<SectionContainer id="projects">
			<div class="flex justify-center px-2 lg:px-0 items-center mb-4 text-3xl font-semibold gap-x-3 text-neutral-950 dark:text-white">
				<!-- <Presentation class="size-7 pb-0.5"/> -->
				<div class="flex justify-center items-center gap-x-4">
					<span class="w-24 md:w-28 border-b-4 border-blue-600"></span>
					<p>Proyectos</p>
					<span class="w-24 md:w-28 border-b-4 border-blue-600"></span>
				</div>
			</div>
			<Projects />
		</SectionContainer>
		<SectionContainer>
			<TitleContainer>
			<Dna class="size-7 pb-0.5"/>
				Habilidades
			</TitleContainer>
			<Skills />
		</SectionContainer>
		
		<SectionContainer id="sobre-mi">
			<TitleContainer>
				<Shield class="size-7 pb-0.5"/>
				Sobre mí
			</TitleContainer>
			<AboutMe/>
		</SectionContainer>
		<Github/>
	</main>
	<Footer/>
</Layout>
