---
import Cards from "../components/Cards.astro";
import Footer from "../components/dashboard/Footer.astro";
import Layout from "../layouts/Layout.astro";
import { projects } from "../database/DataProjects";

---

<Layout title="Projects Deyverson">
  <section class="pt-36 pb-28 mx-auto container lg:max-w-4xl md:max-w-2xl">
    <span>
      <h1 class="text-2xl pb-8 font-bold">Proyectos </h1>
      <!-- <h3 class="dark:text-gray-300 text-gray-800">
        Esta es una colección de proyectos realizados tanto en el ámbito
        del desarrollo de Software como en mi carrera de Mecatrónica Industrial.
      </h3> -->
    </span>
    <Cards projects={projects} active={false} />
  </section>
  <Footer />
</Layout>
