---
import Cards from '../components/Cards.astro';
import Footer from '../components/dashboard/Footer.astro';
import Layout from '../layouts/Layout.astro';
import { projects } from '../info/DataProjects';
---

<Layout title="Projects Deyverson">
  <section class="container mx-auto pt-28 pb-28 lg:max-w-4xl md:max-w-2xl">
    <span>
      <h1 class="pb-8 text-2xl font-bold">Proyectos</h1>
    </span>
    <Cards projects={projects} active={false} />
  </section>
  <Footer />
</Layout>
