---

---

<article>
  <div>
    <p>
      Mi nombre es Deyverson Herrera, empece en el mundo de la programacion en
      2022, actualmente estudiante de Mecatronica, con Desarrollo Web
    </p>
    <p>
      Mi enfoque principal se encuentra en la creacion de experiencias de
      usuario atractivas y eficientes, ademas de ampliar mi conjunto de
      habilidades para barcar el desarrollo backend y poder crear poyectos web
      completos.
    </p>
    <p>
      Como programador me he dedicado a aquirir diversos conocimientos que me ayuden en el desarrollo de diferentes proyectos, desde ReactJs hasta MySQL
    </p>
  </div>
</article>
