---

---

<article class="flex gap-x-2">
  <div
    class="w-6/12 lex items-center gap-x-2 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-nromal rounded-xl text-base px-4 py-2 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
  >
    <img class="rounded-xl border-box" src="/icon.jpg" alt="" />
  </div>
  <div>
    <p class="pb-2">
      Mi nombre es <strong> Deyverson Herrera,</strong> empecé en el mundo de la
      programacion en 2022, actualmente estudiante <strong
        >de Mecatronica y Desarrollo Web.</strong
      >
    </p>
    <p class="pb-2">
      Mi enfoque principal se encuentra en la creacion de experiencia de usuario
      atractivas y eficientes.
    </p>
    <p class="pb-2">
      Como programador me he dedicado a aquirir diversos conocimientos que me
      ayuden en el enfoque de diferentes proyectos, desde <strong
        >ReactJs
      </strong> hasta <strong>MySQL</strong>
    </p>
    <p>
      En mi aprendizaje he desarrollado diferentes proyectos que me han ayudado
      a mejorar mis habilidades, desde <strong
        >replicas de paginas web como <a target="_blank" href="https://dropi-replic.vercel.app/">Dropi.co</a>, Bancolombia,</strong
      > hasta aplicaciones de logica y encriptamiento.
    </p>
  </div>
</article>
<style>
  strong {
    color: #4299e1;
  }
</style>
