<!-- ---
const contentGithub = await fetch(
  "https://api.github.com/users/Deyverson1/repos",
)
  .then((res) => res.json())
  .then((res) => res);


// console.log(nombre)
// const contentNames = [];
// contentGithub.forEach((content: { name: any; pushed_at: any }) => {
//   console.log(content.pushed_at + content.name);
//   contentNames.push(content.name);
// });

console.log(contentGithub); -->

<!-- --- -->

<!-- <section>
  <h1>Hola</h1>
  {
    contentGithub.map((content: unknown) => {
      return(
        <div class="text-white">
          <p>{content.name}</p>
          {content.pushed_at}
          </div>
        )
    })
  }
</section> -->
