---
import Theme from "./Theme.astro";
import Wolf from './icons/Wolf.astro'
const contentNav = [
  { title: "Inicio", label: "/", url: "/" },
  { title: "Proyectos", label: "/#proyectos", url: "/#projects" },
  { title: "Sobre mi", label: "/#sobre-mi", url: "/#sobre-mi" },
  {
    title: "Contacto",
    label: "/#contacto",
    url: "mailto:deyversongp@gmail.com",
  },
];
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-1"
>
  <nav
    class="flex lg:px-3 w-full py-2 text-medium font-medium text-black dark:text-white justify-around items-center"
  >
    <div class="hidden md:flex md:w-10/12 pl-2 w-fit justify-center">
      <a href="/" class="text-black dark:text-white">
        <Wolf/>
      </a>
    </div>
    <section class="flex justify-center md:justify-start w-full">
      {
        contentNav.map((content) => (
          <a
            class="text-sm md:text-base relative block px-2 py-2 hover:text-gray-800 dark:hover:text-gray-400"
            aria-label={content.label}
            href={content.url}
          >
            {content.title}
          </a>
        ))
      }
      <a
        href="/curriculum"
        class="text-sm md:text-base pl-2 border-blue-300 dark:border-blue-400 hover:text-gray-800 dark:hover:text-gray-400 rounded-md border-2 px-2 py-2"
        >Curriculum</a
      >
    </section>
    <Theme />
  </nav>
</header>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur bg-transparent ring-black/10;
    }
  }
</style>
