---
import Gmail from "./icons/Gmail.astro";
import GithubCat from "./icons/GithubCat.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";
import Twenty from "./icons/Twenty.astro";

import Netflix from "./icons/Netflix.astro";
import Spotify from "./icons/Spotify.astro";
const data = [
  {
    name: "Contáctame",
    link: "https://www.linkedin.com/in/deyverson/",
    icon: Gmail,
    target: "_blank",
  },
  {
    name: "LinkedIn",
    link: "https://www.linkedin.com/in/deyverson/",
    icon: LinkedinIcon,
    target: "_blank",
  },
  {
    name: "Github",
    link: "https://github.com/Deyverson1",
    icon: GithubCat,
    target: "_blank",
  },
  { name: "Anime", link: "/anime", icon: Netflix },
  { name: "Música", link: "/music", icon: Spotify },
];
---

<section class="pt-20 px-2 lg:pt-0 max-w-xl">
  <Twenty />
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, I'm Deyverson
  </h1>
  <p class="mt-6 text-xl text-gray-800 dark:text-gray-300">
    <strong class="text-blue-500"
      >Estudiante de Mecatronica Industrial y Desarrollo de aplicaciones web
    </strong> de Cali, Colombia🇨🇴.
  </p>
  <!-- <p class="py-0 text-xl text-gray-800 dark:text-gray-300">Enfocado principalmente en el FrontEnd</p> -->
  <div class="flex flex-wrap gap-4 mt-8">
    {
      data.map((data) => (
        <a
          target={data.target}
          class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-300 hover:border-gray-700 group max-w-fit  focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black "
          href={data.link}
        >
          <data.icon class="size-4 fill-black dark:fill-white " />{" "}
          {data.name}
        </a>
      ))
    }
  </div>
</section>
