---
const { class: className, id } = Astro.props;
---

<section
  id={id}
  data-section={id}
  class={`section ${className} w-full mx-auto max-w-full container md:max-w-2xl xl:max-w-3xl 2xl:max-w-6xl py-16 `}
>
  <slot />
</section>
