---
const { class: className, id } = Astro.props;
---

<section
  id={id}
  data-section={id}
  class={`section ${className} w-full mx-auto max-w-full container lg:max-w-xl xl:max-w-2xl 2xl:max-w-6xl py-12 2xl:py-16 `}
>
  <slot />
</section>
