---
import AstroIcon from "./icons/AstroIcon.astro";
import React from "./icons/React.astro";
import Svelte from "./icons/Svelte.astro";
import Tailwind from "./icons/Tailwind.astro";
import JavaScript from "./icons/javaScript.astro";
import TypeScript from "./icons/TypeScript.astro"
const data = [
  { name: "JavaScript", icon: JavaScript },
  { name: "TypeScript", icon: TypeScript },
  { name: "React", icon: React },
  { name: "Astro", icon: AstroIcon },
  { name: "Svelte", icon: Svelte },
  { name: "Tailwind", icon: Tailwind },
];
---

<div class="flex flex-1 flex-wrap px-2 lg:px-0 gap-x-2 gap-y-2">
 {
  data.map((data) => (
  <article class="flex flex-wrap">
    <div class="gap-x-2">
      <div
        class="flex items-center gap-x-2 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-nromal rounded-xl text-base px-4 py-2 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
      >
        <data.icon class="size-10 fill-black dark:fill-white"/>
        <h3 class="text-gray-900 dark:text-white font-sm">{data.name}</h3>
      </div>
    </div>
  </article>
  ))
 }
</div>
