<article class="flex flex-col pb-10 px-2 gap-8">
  <section
    class="flex flex-col md:flex-row w-full items-center justify-center gap-8"
  >
    <img src="/icon.jpg" class="rounded-3xl h-full xl:w-24 2xl:w-56" alt="" />
    <div class="md:w-7/12 pt-2">
      <h2 class="xl:text-xl 2xl:text-4xl">Deyverson Herrera Valencia</h2>
      <h3 class="text-blue-500 pt-2 xl:text-base">
        Desarrollador Web - Tecnólogo Mecatrónico
        <h2 class="xl:text-base">
          <p class="pt-4">
            Perfil técnico con base industrial y enfoque en el desarrollo de
            aplicaciones web eficientes y orientadas a la experiencia de
            usuario.
          </p>
          <p class="pt-4">
            Interesado en integrar automatización, software y UI/UX para crear
            soluciones funcionales y escalables.
          </p>
        </h2>
      </h3>

      <style>
        strong {
          color: #4299e1;
        }
      </style>
    </div>
  </section>
</article>
