<article class="flex flex-col gap-8 px-2 2xl:pb-10">
  <section
    class="flex flex-col items-center justify-center w-full gap-8 md:flex-row"
  >
    <img
      src="/icon.jpg"
      class="rounded-3xl h-96 md:h-full lg:h-[35vh] xl:h-auto xl:w-40 2xl:w-56"
      alt=""
    />
    <div class="pt-2 md:w-7/12">
      <h2 class="font-semibold xl:text-xl 2xl:text-4xl">
        Deyverson Herrera Valencia
      </h2>
      <h3 class="text-blue-500 2xl:pt-2 xl:text-base 2xl:text-xl">
        Tecnólogo Mecatrónico | Desarrollador Web
        <h2 class="xl:text-sm">
          <p class="pt-3 lg:text-sm 2xl:pt-4 2xl:text-lg">
            Perfil técnico con base industrial y enfoque en el desarrollo de
            aplicaciones web eficientes y orientadas a la experiencia de
            usuario.
          </p>
          <p class="pt-2 lg:text-sm 2xl:pt-4 2xl:text-lg">
            Interesado en integrar automatización, software y UI/UX para crear
            soluciones funcionales y escalables.
          </p>
        </h2>
      </h3>

      <style>
        strong {
          color: #4299e1;
        }
      </style>
    </div>
  </section>
</article>
