<article class="flex flex-col px-2 gap-8">
  <section
    class="flex flex-col md:flex-row w-full items-center justify-center gap-8"
  >
    <img
      src="/icon.jpg"
      class="rounded-3xl h-full w-56 border-2 border-white"
      alt=""
    />
    <div class="md:w-7/12 pt-2">
      <h1 class="text-3xl">Deyverson Herrera Valencia</h1>
      <h2 class="text-blue-500">- Desarrollador Web</h2>
      <p class="pt-4">
        Empecé en el mundo de la programación en 2022, actualmente estoy en mi séptimo semestre de Mecatrónica, además de estudiar Desarrollo Web. Mi enfoque principal es crear experiencias de usuario atractivas y eficientes. Mi objetivo es integrar mis conocimientos en diversas tecnologías, combinando Mecatrónica con el desarrollo de aplicaciones tanto en frontend como en backend. De esta manera, busco contribuir de manera integral a proyectos innovadores en diferentes áreas.
      </p>
    </div>
  </section>
</article>

<style>
  strong {
    color: #4299e1;
  }
</style>
