---
import { data } from '../../info/DataFooter';
---

<footer
  class="py-0 w-full mx-auto container my-5 2xl:my-10 lg:max-w-4xl md:max-w-2xl"
>
  <div
    class="items-center justify-center gap-y-8 md:gap-y-0 pb-8 flex flex-col lg:flex-row w-full max-w-screen-xl mx-auto md:flex md:items-center"
  >
    <!-- <div
      class="flex justify-center items-center md:items-start flex-col gap-y-2"
    >
      <div class="w-full flex gap-2">
        <span
          class="w-24 text-xs border-transparent bg-gradient-to-r from-pink-400 to-blue-500 text-transparent"
          >ㅤ</span
        >
        <span
          class="w-16 text-xs border-transparent bg-gradient-to-r from-gray-400 to-gray-500 text-transparent"
          >ㅤ</span
        >
        <span
          class="rounded-full text-xs border-transparent bg-gradient-to-r from-gray-500 to-gray-500 text-transparent"
          >...</span
        >
      </div>
      <span
        class="w-80 ml-4 text-xs border-transparent bg-gradient-to-r from-yellow-400 to-orange-400 text-transparent"
        >ㅤ</span
      >
      <a href="/"
        ><h1 class="hover:text-blue-600">Deyverson Herrera Valencia</h1></a
      >
      <span
        class="ml-1 w-64 text-xs border-transparent bg-gradient-to-r from-pink-400 to-blue-500 text-transparent"
        >ㅤ</span
      >

      <div class="ml-2 w-full flex gap-2">
        <span
          class="w-36 text-xs border-transparent bg-gradient-to-r from-blue-600 to-cyan-500 text-transparent"
          >ㅤ</span
        >
        <span
          class="w-24 text-xs border-transparent bg-gradient-to-r from-yellow-400 to-orange-400 text-transparent"
          >ㅤ</span
        >
        <span
          class="text-xs rounded-full border-transparent bg-gradient-to-r from-gray-400 to-gray-400 text-transparent"
          >...</span
        >
      </div>
    </div> -->

    <main
      class="flex-wrap md:flex-nowrap md:flex items-center 2xl:w-3/5 2xl:justify-between"
    >
      <article>
        <h2 class="text-lg 2xl:text-2xl font-semibold">Deyverson Herrera</h2>
        <p class="2xl:text-lg text-gray-400 pt-1">
          Tecnólogo Mecatrónico | Desarrollador Web
        </p>
      </article>
      <article>
        <section
          class="flex flex-col gap-y-2 pt-3 text-gray-800 dark:text-gray-400"
        >
          <a href="mailto:deyversongp@gmail.com"
            ><h3 class="2xl:text-lg">Contacto</h3></a
          >
          <a class="target-blank" href="https://www.linkedin.com/in/deyverson/"
            ><h3 class="2xl:text-lg">LinkedIn</h3></a
          >
          <a href="https://search-movies-and-books.vercel.app/"
            ><h3 class="2xl:text-lg">GitHub</h3></a
          >
        </section>
      </article>
    </main>
  </div>
  <div class="text-center">
    <p class="2xl:text-lg text-gray-200 pt-4">
      Construido con Astro y Tailwind CSS — © 2026
    </p>
  </div>
</footer>

<style>
  h3:hover {
    text-decoration: underline;
  }
</style>
