---
import { data } from '../../info/DataFooter';
---

<footer
  class="container w-full py-0 mx-auto my-5 2xl:my-10 lg:max-w-4xl md:max-w-2xl"
>
  <div
    class="flex flex-col items-center justify-center w-full max-w-screen-xl pb-8 mx-auto gap-y-8 md:gap-y-0 lg:flex-row md:flex md:items-center"
  >
    <main
      class="flex-wrap items-center md:flex-nowrap md:flex lg:w-3/5 lg:justify-between"
    >
      <article>
        <h2 class="text-lg font-semibold 2xl:text-2xl">Deyverson Herrera</h2>
        <p class="pt-1 text-gray-400 2xl:text-lg">
          Tecnólogo Mecatrónico | Desarrollador Web
        </p>
      </article>
      <article>
        <section
          class="flex flex-col pt-3 text-gray-800 gap-y-2 dark:text-gray-400"
        >
          <a href="mailto:deyversongp@gmail.com"
            ><h3 class="2xl:text-lg">Contacto</h3></a
          >
          <a class="target-blank" href="https://www.linkedin.com/in/deyverson/"
            ><h3 class="2xl:text-lg">LinkedIn</h3></a
          >
          <a href="https://search-movies-and-books.vercel.app/"
            ><h3 class="2xl:text-lg">GitHub</h3></a
          >
        </section>
      </article>
    </main>
  </div>
  <div class="text-center">
    <p class="pt-4 text-gray-200 2xl:text-lg">
      Construido con Astro y Tailwind CSS — © 2026
    </p>
  </div>
</footer>

<style>
  h3:hover {
    text-decoration: underline;
  }
</style>
