---
import AstroIcon from "../icons/AstroIcon.astro";
import Instagram from "../icons/Instagram.astro";
import LinkedinIcon from "../icons/LinkedinIcon.astro";
import Discord from "../icons/Discord.astro";
import Tailwind from "../icons/Tailwind.astro";
import React from "../icons/React.astro";
const data = [
  { name: "Instagram", link: 'https://www.instagram.com/deyverson08?igsh=MXFheHd5eXg3ZWxjcg==', icon: Instagram },
  { name: "LinkedIn", link: 'https://www.linkedin.com/in/deyverson?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app', icon: LinkedinIcon },
  { name: "Discord", link: 'https://discord.com/invite/bBNutX3D',icon: Discord },
];
---

<footer class="py-12  w-full mx-auto container lg:max-w-4xl md:max-w-2xl">
  <div
    class="items-center border-b-2 border-black gap-y-8 md:gap-y-0  dark:border-white pb-8 justify-around flex flex-col lg:flex-row w-full max-w-screen-xl mx-auto md:flex md:items-center"
  >
    <div class="flex justify-center items-center md:items-start flex-col gap-y-4">
      <h1>Deyverson Herrera Valencia</h1>
      <section class="gap-x-2 text-base hidden md:flex">Hecho con: <AstroIcon class="size-6 hover:scale-110"/> Astro <React class="size-6 hover:scale-110"/> ReactJS <Tailwind class="size-6 hover:scale-110"/> Tailwind </section>
      
    </div>
    
    <main class="flex gap-12">
      <article>
        <h2>Social</h2>
        <section class="flex flex-col gap-y-2 pt-3  text-gray-800 dark:text-gray-400">
          {data.map((dato, index) => <a href={dato.link} target="_blank"><h3 >{dato.name}</h3></a> )}
        </section>
      </article>
      <article>
        <h2>OS</h2>
        <section class="flex flex-col gap-y-2 pt-3 text-gray-800 dark:text-gray-400">
          <h3 >Linux</h3>
          <h3 >Windows</h3>
        </section>
      </article>
      <article>
        <h2>Otros</h2>
        <section class="flex flex-col gap-y-2 pt-3 text-gray-800 dark:text-gray-400">
          <a href="https://anime-search-deyverson1.vercel.app/"><h3 >Anime</h3></a>
          <a href="https://search-movies-and-books.vercel.app/"><h3 >Libros</h3></a>
          <a href="mailto:deyversongp@gmail.com"><h3>Contacto</h3></a>
        </section>
      </article>
    </main>
    
  </div>
  <div>
    <p></p>
  </div>
</footer>
<style>
  h3:hover{
    text-decoration: underline;
  }
</style>