---
const contentNav = [
  { title: "Inicio", label: "/", url: "/" },
  { title: "Proyectos", label: "/#proyectos", url: "/projects" },
  { title: "Sobre mi", label: "/#sobre-mi", url: "/#sobre-mi" },
  { title: "Contacto",  label: "/#contacto", url: "mailto:deyversongp@gmail.com" },
];
---

<header
  class="fixed z-10 flex items-center justify-center w-full mx-auto py-2">
  <nav class="flex bg-white dark:bg-neutral-900 border-none rounded-full lg:px-6 text-medium font-medium justify-center items-center">
    <section class="flex pt-px justify-center md:justify-center w-full">
      {
        contentNav.map((content) => (
          <a
            class="text-sm md:text-base relative text-gray-700 dark:text-gray-200 block px-2 py-2 hover:text-gray-400 dark:hover:text-gray-400"
            aria-label={content.label}
            href={content.url}
          >
            {content.title}
          </a>
        ))
      }
      <!-- <a
        href="/curriculum"
        class="text-sm md:text-base md:ml-6 md:border-blue-500 hover:text-gray-800 dark:text-gray-100 dark:hover:text-gray-300 md:rounded-md md:border px-2 py-2"
        >Curriculum</a
      > -->
    </section>
  </nav>
</header>
