---
import Cards from "../Cards.astro";
import { projects } from "../../database/Projects";
---
<div class="flex justify-center pb-10">
  <a href="/projects">
    <span class="text-sx underline text-blue-600">Todos los proyectos</span></a
  >
</div>
<Cards projects={projects} active={true} />

<div
  class="flex justify-center pt-10"> 
  <a
  class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition hover:motion-safe:animate-pulse bg-gray-100 border border-gray-300 rounded-full dark:bg-neutral-950 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-300 hover:border-gray-700 group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 dark:hover:bg-neutral-600"
  href="/projects">
  Proyectos
  </a>
</div>

<!-- <div class="flex justify-center pt-8">
  <a
    href="https://github.com/Deyverson1?tab=repositories"
    target="_blank"
    class="lex items-center gap-x-2 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-nromal rounded-xl text-base px-4 py-2 me-2 mb-2 dark:bg-neutral-950 dark:text-white dark:border-gray-600 dark:hover:bg-neutral-800 dark:hover:border-gray-600 dark:focus:ring-gray-700"
    >Ver mas...</a
  >
</div> -->
