---
import Cards from '../Cards.astro';
import { ProjectData } from '../../info/Projects';
import { ProjectsMecatronicaPreview } from '../../info/DataProjectsMecatronica';
---

<section class="scroll-smooth">
  <div class="text-center">
    <h2
      class="pt-2 pb-6 pl-2 text-lg text-gray-800 underline md:text-xl 2xl:text-2xl dark:text-gray-300 decoration-gray-400 decoration-2 opacity-90"
    >
      Aplicaciones web y experiencias digitales:
    </h2>
    <Cards projects={ProjectData} active={true} display="flex-col" />
  </div>
  <div class="flex justify-center pt-10">
    <a href="/projects" class="text-xl text-blue-600 underline hover:text-white"
      >Todos los proyectos
    </a>
  </div>
</section>
