---
import Cards from "../Cards.astro";
import { ProjectData } from "../../info/Projects";
import { ProjectsMecatronicaPreview } from "../../info/DataProjectsMecatronica"
---


<span>
  <h1 class="pl-2 text-xl md:text-2xl pt-4 pb-10 font-bold underline">Desarrollo de aplicaciones web: </h1>
</span>
<Cards projects={ProjectData} active={true} />
<span>
  <h1 class="pl-2 text-xl md:text-2xl pt-10 pb-10 font-bold underline">Mecatrónica Industrial: </h1>
</span>
<Cards projects={ProjectsMecatronicaPreview} active={false} />

<div class="flex justify-center pt-10">
  <a href="/projects">
    <span class="text-xl underline hover:text-white text-blue-600">Todos los proyectos</span></a
  >
</div>
