---
import Cards from '../Cards.astro';
import { ProjectData } from '../../info/Projects';
import { ProjectsMecatronicaPreview } from '../../info/DataProjectsMecatronica';
---

<section class="scroll-smooth">
  <div class="text-center">
    <h2
      class="pl-2 text-xl 2xl:text-2xl text-gray-800 dark:text-gray-300 pt-2 pb-6 underline decoration-gray-400 decoration-2 opacity-90"
    >
      Aplicaciones web y experiencias digitales:
    </h2>
    <Cards projects={ProjectData} active={true} />
  </div>
  <!-- <div class="text-center pt-20">
    <h2
      class="pl-2 text-xl md:text-2xl text-gray-300 pb-10 underline decoration-gray-400 decoration-2"
    >
      Mecatrónica Industrial:
    </h2>

    <Cards projects={ProjectsMecatronicaPreview} active={false} />
  </div> -->

  <div class="flex justify-center pt-10">
    <a href="/projects" class="text-xl underline hover:text-white text-blue-600"
      >Todos los proyectos
    </a>
  </div>
</section>
