---
import GithubCat from "../icons/GithubCat.astro";
import Gmail from "../icons/Gmail.astro";
import WhatsApp from "../icons/WhatsApp.astro";
import Portatil from "../icons/Portatil.astro";
import JavaScript from "../icons/javaScript.astro";
import React from "../icons/React.astro";
import AstroIcon from "../icons/AstroIcon.astro";
import Svelte from "../icons/Svelte.astro";
import Cplusplus from "../icons/Cplusplus.astro";
import Php from '../icons/Php.astro'
import Git from '../icons/Git.astro'
import Education from './Education.astro'
import Experience from './Experience.astro'
import Tools from "../Tools.astro";
import Download from "../icons/Download.astro";
import LinkedinIcon from "../icons/LinkedinIcon.astro";
import Tailwind from "../icons/Tailwind.astro";
import MySQL from '../icons/MySQL.astro'
import Next from '../icons/Next.astro'
import TypeScript from "../icons/TypeScript.astro";
import Node from '../icons/Node.astro'
const dataPerfil = [
  { title: "deyversongp@gmail.com", icon: Gmail, href: 'mailto:deyversongp@gmail.com' },
  { title: "312 2138601", icon: WhatsApp, fill: 'fill-white', },
  { title: "linkedin.com/in/deyverson", icon: LinkedinIcon, fill: 'fill-black', href: 'https://www.linkedin.com/in/deyverson/'},
  { title: "github.com/Deyverson1", icon: GithubCat, href: 'https://github.com/Deyverson1' },
  { title: "https://portfolio-deyverson.vercel.app/", icon: Portatil, href: 'https://portfolio-deyverson.vercel.app/' },
];
const dataLearning = [
  {name: 'JavaScript', icon: JavaScript},
  {name: 'ReactJS', icon: React},
  {name: 'Astro', icon: AstroIcon},
  {name: 'Svelte', icon: Svelte},
  {name: 'TypeScript', icon: TypeScript},
  {name: 'Php', icon: Php},
  {name: 'C++', icon: Cplusplus},  
  {name: 'Git', icon: Git},
  {name: 'Tailwind', icon: Tailwind},
  {name: 'MySQL', icon: MySQL},
  {name: 'NodeJS', icon: Node},
  {name: 'NextJS', icon: Next},
]
---
<div class="flex px-2 justify-end">
  <a href="/projects/DeyversonCV.pdf" download><Download/></a>
</div>
<section class=" flex w-full flex-wrap justify-center gap-4 pt-16 pb-4 lg:py-16 lg:pb-0 lg:pt-0 lg:flex-nowrap">
  <div class="w-full px-2 lg:px-0 lg:w-5/12">
    <div class="w-full flex justify-center items-center pb-4">
      <img class="w-6/12 rounded-2xl" src="/icon.jpg" alt="Foto Deyverson" />
    </div>
    <h2 class="font-bold">Perfil</h2>
    {dataPerfil.map(dato => (
      <article class="flex items-center gap-x-2">
        <dato.icon class=`size-4 dark:fill-white ${dato.fill}` />
        <a target="_blank" href={dato.href} class="hover:underline"> <h5>{dato.title}</h5></a>
        </article>
    ))}
    <h2 class="pt-7 font-bold">Aprendiendo</h2>
    <div class="flex flex-wrap gap-x-4"> 
      { dataLearning.map(learn => (
        <article class="flex gap-2 pt-4">
          <learn.icon class="size-6 fill-black dark:fill-white"/>
          <h5>{learn.name}</h5>
          </article>
          ))
      }
    </div>
    <section class="pt-7">
      <h2 class="font-bold ">Herramientas</h2>
      <Tools/>
    </section>
    <Education/>
  </div>
  <div class="w-full px-2 pt-8 lg:w-8/12">
    <h1 class="text-center text-4xl">Deyverson Herrera Valencia</h1>
    <h2 class="text-center italic pb-5">Desarrollador Web y estudiante de Mecatrónica Industrial</h2>
    <h3 class="pb-2">Mi enfoque principal se encuentra en la creacion de experiencia de usuario atractivas y eficientes. Como programador me he dedicado a aquirir diversos conocimientos que me ayuden en el enfoque de diferentes proyectos, desde ReactJs hasta MySQL.</h3>
    <h3>En mi aprendizaje he desarrollado diferentes proyectos que me han ayudado a mejorar mis habilidades, desde replicas de paginas web como Dropi.co, Bancolombia, hasta aplicaciones de logica y encriptamiento.
      Mis estudios también están orientados hacia el trabajo en equipo, utilizando
      diversas metodologías de equipo que van desde habilidades blandas hasta
      metodologías de desarrollo web como Scrum. </h3>
    <h4></h4>
    <Experience/>


  </div>
</section>
