---
import Header from "../components/Header.astro";
import "@fontsource-variable/onest";
interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/public/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative text-black dark:text-white">
		<div
			class="absolute inset-0 top-0 min-h-screen -z-10 h-full w-full
	bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]
	dark:items-center dark:px-5 dark:py-24 dark:[background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"
		>
			<div
				class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_800px_at_100%_200px,#d5c5ff,transparent)] dark:bg-[radial-gradient(circle_800px_at_100%_200px,#000,transparent)]"
			>
			</div>
		</div>
	</body>
	<Header />
	<slot />
</html>

<style is:global>
	:root {
		color-scheme: light dark;
		
		font-family: "Onest Variable", system-ui, sans-serif;
	}
	html {
		scroll-behavior: smooth;
	}
	#header-nav {
		animation: blur linear both 0.5s;
		animation-timeline: scroll();
		animation-range: 0 500px;
	}

	@keyframes blur {
		to {
			backdrop-filter: blur(20px);
			border-width: 1px;
			border-color: rgba(0, 0, 0);
			padding: 0.25rem 0.75rem;
			display: flex;
			flex-direction: row;
			align-items: center;
			background-color: rgb(229, 229, 229);
			border-radius: 9999px;
		}
	}
	@media (prefers-color-scheme: dark){
		:root{
			background-color: black;
		}
	}
	@media (prefers-color-scheme: light) {
		body {
			background-color: white;
		}
		.try {
			display: none;
		}
	}
</style>
